@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
}
body {
    background-color:aliceblue;
    font-family: 'Noto Serif JP', serif;
}
.logo {
    width: 130px;
    margin-top: 10px;
}
h1 {
    color: #752100
}
p{ 
    font-size: 20px;
}