@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
    color: aliceblue;
}
body {
    background-color:rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    margin: 0px;
}
.wrapper {
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
/*記事部分*/
article {
    width: 74%;
}
/*サイドバー*/
aside {
    width: 22%;
}

/*フッター*/
footer {
    background:#432
    text-align:center;
    padding: 26px 0;
}

footer p {
color: #fff;
font-size: 0.875rem;

}

.main-nav{
    font-size:1.25;
    width: 130px;
    text-transform: uppercase;
    margin-top: 0px;
    list-style: none;
    text-align: center;
  }
.logo {
    width: 130px;
    margin-top: 0px;
}
h1 {
    color: #752100
}
p{ 
    font-size: 20px;
}