@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
}
body {
    background-color:aliceblue;
    font-family: 'Noto Serif JP', serif;
    margin: 0px;
}
.wrapper {
    max-width: 1100px;
    margin:0 auto;
    
}

.main-nav{
    font-size:1.25;
    text-transform: uppercase;
    margin-top: 0px;
    list-style: none;
  }
.logo {
    width: 130px;
    margin-top: 0px;
}
h1 {
    color: #752100
}
p{ 
    font-size: 20px;
}