@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
    color: aliceblue;
}
body {
    background-color:rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    margin: 0px;
}
.wrapper {
    max-width: 997px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#nessi- {
   background-image: url(images/1064429_s.jpg);
   height: 270px;
   margin-bottom: 40px;
}
#nessi-.page-title {
text-align: center;
}