@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
    color: aliceblue;
}
body {
    background-color:rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    margin: 0px;
}
.wrapper {
    max-width: 1080px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#nessi- {
   background-image: url(images/1064429_s.jpg);
   background-size: cover;
   background-position: 0px -204px;
   height: 90px;
   margin-bottom: 40px;
}
#nessi-{
text-align: center;
margin: 10px;
}

.page-title {
text-align: center;
font-size: 60px;
}

footer{
    background: rgb(0, 0, 0);
    text-align: center;
}

footer p{
 color:#fff;
 font-size: 0.875rem;   
}

.main-nav{
    display: flex;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style-type: hebrew;
}